<h3 id = "toDo" style="text-align: center"> TO DO TASKS </h3>
<!-- <app-one-todo *ngFor="let td of toDo" [toDo]="td"></app-one-todo> -->

<div id = "toDo" *ngFor="let td of toDo">
    <div>
        {{td.id}}
        <button (click)="delTodo(td.id, td.task, td.idForDel)" style="margin-left: 5px">Выполено</button>
        {{td.task}}
    </div>
</div>

<!-- <div>
<ol>
    <li *ngFor="let td of toDo">
        <app-one-todo [toDo]="td"></app-one-todo>
    </li>
</ol>
</div> -->
<!-- <div>
    <app-one-todo *ngFor="let td of toDo" [toDo]="td"></app-one-todo>
</div> -->
